service: commitly

ssh:
  user: ubuntu
  keys:
    - ~/.ssh/commitly-ec2.pem

image: tomo-akm/commitly

servers:
  web:
    - 3.25.180.24
  job:
    hosts:
      - 3.25.180.24
    cmd: bundle exec bin/jobs

proxy:
  ssl: true
  host: commitly.akamine.dev
  app_port: 3000
  healthcheck:
    path: /up
    interval: 10
    timeout: 60

registry:
  server: ghcr.io
  username: tomo-akm
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  secret:
    - RAILS_MASTER_KEY
    - DATABASE_URL
    - SOLID_QUEUE_IN_PUMA
  clear:
    JOB_CONCURRENCY: 2

volumes:
  - "commitly_storage:/rails/storage"

asset_path: /rails/public/assets
asset_path: /webapp/public/assets

# Deployment timeouts
deploy_timeout: 120
readiness_delay: 10

builder:
  arch: amd64
  secrets:
    - RAILS_MASTER_KEY

accessories:
  db:
    image: postgres:16
    host: 3.25.180.24
    port: "5432:5432"
    env:
      clear:
        POSTGRES_DB: commitly
        POSTGRES_USER: postgres
      secret:
        - POSTGRES_PASSWORD
    directories:
      - pg_data:/var/lib/postgresql/data
