service: commitly

ssh:
  user: ubuntu
  keys:
    - ~/.ssh/commitly-ec2.pem

image: ghcr.io/tomo-akm/commitly

servers:
  web:
    - 3.25.217.182

proxy:
  ssl: true
  host: kamal.akamine.dev

registry:
  server: ghcr.io
  username: tomo-akm
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  secret:
    - RAILS_MASTER_KEY
    - DATABASE_URL
  clear:
    JOB_CONCURRENCY: 2

volumes:
  - "commitly_storage:/rails/storage"

asset_path: /rails/public/assets

builder:
  arch: amd64

accessories:
  db:
    image: postgres:16
    host: 3.25.217.182
    port: "5432:5432"
    env:
      clear:
        POSTGRES_DB: commitly
        POSTGRES_USER: postgres
      secret:
        - POSTGRES_PASSWORD
    directories:
      - pg_data:/var/lib/postgresql/data
